.header {
  width: 100%;
  height: 4.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgb(22, 20, 20);
}

.input-search {
  margin: 0 1rem;
  width: 200px;
  transition: all 0.4s ease;
}

.input-search:active,
.input-search:focus {
  width: 400px;
}
