body {
  font-size: 16px;
  background: rgb(20, 15, 15);
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  transition: 1s width ease;
  overflow-x: hidden;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  transition: width 0.7s ease;
}

section span {
  font-weight: 500;
}

.btn-big {
  background: rgb(48, 43, 43);
  color: white;
  padding: 0.5rem 0.8rem;
  display: block;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease;
  border-radius: 7px;
}

.btn-submit {
  margin: 0 auto;
}

@media (min-width: 500px) {
  .btn-big:hover {
    background: rgb(31, 29, 29);
    transform: translateY(-5px);
  }
  .btn-big:active {
    transform: translateY(-2px);
  }
}
